CBOR deterministic decoding for of `Collaborators` and `DocumentRefs` metadata fields

### Summary

Require deterministic order of **some** arrays content

### Description

Right now make we'll require Array order only for some fields (`Collaborators` and `DocumentRefs` from SignedDocument) because other Arrays, such as `DocumentRef` have already enforced order by documentation.

From `From RFC 8949 Section 4.2.3`

```md
The keys in every map must be sorted in the following order:
///  1. If two keys have different lengths, the shorter one sorts earlier;
///  2. If two keys have the same length, the one with the lower value in (byte-wise)
///     lexical order sorts earlier."
```

### Potential idea

Implement `dCbor` codec, which is using existing `const CborCodec cbor = CborCodec()` where, before passing `CborValue value` to `CborCodec` for encoding do the sorting

### Related Issues

- https://github.com/input-output-hk/catalyst-libs/issues/656